@import "light&dark.scss";
$font-weight-map: (
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  Semi Bold: 600,
  "Bold": 700,
  "ExtraBold": 800
);
$tooltip-bg: $light-tooltip-default-top-background;
$tooltip-opacity: $light-tooltip-default-top-bodytext-text-decoration;
$input-font-weight: map-get($font-weight-map, $light-input-default-placeholder-font-weight);
$input-color: $light-input-default-placdholder;
$modal-content-bg: $light-popup-popup-fill;
$light-select-bg: #ffffff;
$light-select-color: #000000;

$dark-select-bg: #2c2c2c;
$dark-select-color: #ffffff;

:root {
   --select-bg: #{$light-select-bg};
  --select-color: #{$light-select-color};
  --body-bg: #{$body-white};
  --body-text: #{$body-black};
  --body-font-family: #{$body-text-body-default-font-family};
  //table
  --table-body-background: #{$light-table-default-body-background};
  --table-body-text:#{$light-table-default-body-text};
  --table-link-color:#{$light-table-default-body-link};
  --table-body-font-size:#{$light-table-default-body-bodytext-font-size};
  --table-body-text-case:#{$light-table-default-body-bodytext-text-case};
  --table-body-letter-spacing:#{$light-table-default-body-bodytext-letter-spacing};
  --table-body-text-decoration:#{$light-table-default-body-bodytext-text-decoration};
  --table-body-line-height:#{$light-table-default-body-bodytext-line-height};
  --table-body-font-weight:#{map-get($font-weight-map, $light-table-default-body-bodytext-font-weight)};
  --table-header-text:#{$light-table-default-header-text};
  --table-header-font-size:#{$light-table-default-header-headertext-font-size};
  --table-header-font-weight:#{map-get($font-weight-map, $light-table-default-header-headertext-font-weight)};
  --table-font-family: #{$light-table-default-header-headertext-font-family};
  --table-border-radius:#{$light-table-default-cornerradius};
  --table-header-line-height:#{$light-table-default-header-headertext-line-height};
  --table-header-text-decoration:#{$light-table-default-header-headertext-text-decoration};
  --table-header-letter-spacing:#{$light-table-default-header-headertext-letter-spacing};
  --table-checkbox-border:#{$light-table-multiselect-body-checkbox-uncheck-color};
  --table-checkbox-border-style:#{$light-table-multiselect-body-checkbox-uncheck-style};
  --table-background-checkbox:#{$light-table-multiselect-body-checkbox-activefill};
  --table-checkox-height:#{$light-table-multiselect-body-checkbox-height};
  --table-checkbox-width:#{$light-table-multiselect-body-checkbox-width};
  //pagination
  --pagination-font-family:#{$light-pagination-large-text-font-family};
  --pagination-font-weight:#{map-get($font-weight-map, $light-pagination-large-text-font-weight)};
  --pagination-line-height:#{$light-pagination-large-text-line-height};
  --pagination-small-bg: #{$light-pagination-small-background};
  --pagination-small-color: #{$light-pagination-small-defaulttext};
  --pagination-small-active-bg: #{$light-pagination-small-activefill};
  --pagination-small-active-color: #{$light-pagination-small-activetext};
  --pagination-small-border-radius: #{$light-pagination-small-cornerradius};
  --pagination-small-border-style: #{$light-pagination-small-border-style};
  --pagination-small-border-color: #{$light-pagination-small-border-color};
  --pagination-small-width: 25px;
  --pagination-small-pagewidth:#{$light-pagination-small-page-width};
  --pagination-small-height: #{$light-pagination-small-total-height};
  --pagination-small-goto-width: #{$light-pagination-small-goto-width};
  --pagination-small-goto-height: #{$light-pagination-small-goto-height};
  --pagination-small-font-size: #{$light-pagination-small-text-font-size};
  --pagination-small-pagenumber-height: #{$light-pagination-small-page-height};
  --pagination-small-pagenumber-width: #{$light-pagination-small-page-width};
  --pagination-medium-bg: #{$light-pagination-medium-background};
  --pagination-medium-color: #{$light-pagination-medium-defaulttext};
  --pagination-medium-active-bg: #{$light-pagination-medium-activefill};
  --pagination-medium-active-color: #{$light-pagination-medium-activetext};
  --pagination-medium-border-radius: #{$light-pagination-medium-cornerradius};
  --pagination-medium-width: 36px;
  --pagination-medium-pagewidth:#{$light-pagination-medium-page-width};
  --pagination-medium-height: #{$light-pagination-medium-total-height};
  --pagination-medium-goto-width: #{$light-pagination-medium-goto-width};
  --pagination-medium-goto-height: #{$light-pagination-medium-goto-height};
  --pagination-medium-font-size: #{$light-pagination-medium-text-font-size};
  --pagination-medium-pagenumber-height: #{$light-pagination-medium-page-height};
  --pagination-medium-pagenumber-width: #{$light-pagination-medium-page-width};
  --pagination-large-bg: #{$light-pagination-large-background};
  --pagination-large-color: #{$light-pagination-large-defaulttext};
  --pagination-large-active-bg: #{$light-pagination-large-activefill};
  --pagination-large-active-color: #{$light-pagination-large-activetext};
  --pagination-large-border-radius: #{$light-pagination-large-cornerradius};
  --pagination-large-width: 66px;
  --pagination-large-pagewidth:#{$light-pagination-large-page-width};
  --pagination-large-height: #{$light-pagination-large-total-height};
  --pagination-large-goto-width: #{$light-pagination-large-goto-width};
  --pagination-large-goto-height: #{$light-pagination-large-goto-height};
  --pagination-large-font-size: #{$light-pagination-large-text-font-size};
  --pagination-large-pagenumber-height: #{$light-pagination-large-page-height};
  --pagination-large-pagenumber-width: #{$light-pagination-large-page-width};
  //search
  --search-default-text: #{$light-search-default-text};
  --search-default-icon: #{$light-search-default-icon};
  --search-default-font-family: #{$light-search-default-searchtext-font-family};
  --search-default-line-color: #{$light-search-default-line-color};
  --search-default-line-width: #{$light-search-default-line-width};
  --search-default-line-style: #{$light-search-default-line-style};
  --search-default-font-weight: #{map-get($font-weight-map, $light-search-default-searchtext-font-weight)};
  --search-default-width: #{$light-search-default-width};
  --search-hover-icon: #{$light-search-hover-icon};
  --search-hover-text: #{$light-search-hover-text};
  --search-hover-line-color: #{$light-search-hover-line-color};
  --search-default-line-height: #{$light-search-default-searchtext-line-height};
  --search-default-height: #{$light-search-default-height};
  --search-default-font-size: #{$light-search-default-searchtext-font-size};
  --search-default-text-decoration: #{$light-search-default-searchtext-text-decoration};
  --search-default-text-case: #{$light-search-default-searchtext-text-case};
  //accordion
  --accordion-default-heading: #{$light-accordian-default-heading};
  --accordion-default-icon: #{$light-accordian-default-icon};
  --accordion-default-background: #{$light-accordian-default-background};
  --accordion-default-line-color: #{$light-accordian-default-line-color};
  --accordion-default-line-width: #{$light-accordian-default-line-width};
  --accordion-default-line-style: #{$light-accordian-default-line-style};
  --accordion-default-header-font-family: #{$light-accordian-default-header-font-family};
  --accordion-default-header-font-weight: #{map-get($font-weight-map, $light-accordian-default-header-font-weight)};
  --accordion-default-header-line-height: #{$light-accordian-default-header-line-height};
  --accordion-default-header-font-size: #{$light-accordian-default-header-font-size};
  --accordion-default-header-letter-spacing: #{$light-accordian-default-header-letter-spacing};
  --accordion-default-header-text-case: #{$light-accordian-default-header-text-case};
  --accordion-default-header-text-decoration: #{$light-accordian-default-header-text-decoration};
  --accordion-open-header-decoration: #{$light-accordian-open-header-text-decoration};
  --accordion-open-heading: #{$light-accordian-open-heading};
  --accordion-open-icon: #{$light-accordian-open-icon};
  --accordion-open-background: #{$light-accordian-open-background};
  --accordion-open-bodytext: #{$light-accordian-open-bodytext};
  --accordion-open-line-color: #{$light-accordian-open-line-color};
  --accordion-open-line-width: #{$light-accordian-open-line-width};
  --accordion-open-line-style: #{$light-accordian-open-line-style};
  --accordion-open-header-font-family: #{$light-accordian-open-header-font-family};
  --accordion-open-header-font-weight: #{map-get($font-weight-map, $light-accordian-open-header-font-weight)};
  --accordion-open-header-line-height: #{$light-accordian-open-header-line-height};
  --accordion-open-header-font-size: #{$light-accordian-open-header-font-size};
  --accordion-open-header-letter-spacing: #{$light-accordian-open-header-letter-spacing};
  --accordion-open-subtext-font-family: #{$light-accordian-open-subtext-font-family};
  --accordion-open-subtext-font-weight: #{map-get($font-weight-map, $light-accordian-open-subtext-font-weight)};
  --accordion-open-subtext-line-height: #{$light-accordian-open-subtext-line-height};
  --accordion-open-subtext-font-size: #{$light-accordian-open-subtext-font-size};
  --accordion-open-subtext-letter-spacing: #{$light-accordian-open-subtext-letter-spacing};
  --accordion-open-subtext-text-case: #{$light-accordian-open-subtext-text-case};
  --accordion-open-subtext-text-decoration: #{$light-accordian-open-subtext-text-decoration};
  //filter
  --filter-default-background: #{$light-filter-default-background};
  --filter-default-button-width: #{$light-filter-default-button-width};
  --filter-active-search-text: #{$light-filter-active-search-text};
  --filter-active-width: #{$light-filter-active-width};
  --filter-default-text: #{$light-filter-default-text};
  --filter-hover-hovertext: #{$light-filter-hover-hovertext};
  --filter-active-activetext: #{$light-filter-active-activetext};
  --filter-hover-hoverfill: #{$light-filter-hover-hoverfill};
  --filter-active-activefill: #{$light-filter-active-activefill};
  --filter-default-textstyle-font-size: #{$light-filter-default-textstyle-font-size};
  --filter-default-search-line-style: #{$light-filter-default-search-line-style};
  --filter-active-scrollheight: #{$light-filter-active-scrollheight};
  --filter-default-textstyle-font-family: #{$light-filter-default-textstyle-font-family};
  --filter-default-search-line-color: #{$light-filter-default-search-line-color};
  //tooltip 
  --tooltip-bg: #{$tooltip-bg};
  --tooltip-opacity:#{$tooltip-opacity};
  //modal
  --modal-content-bg: #{$modal-content-bg};
  //tab
  --tab-primary-default-text: #{$light-tab-primary-default-text};
  --tab-primary-default-navtext-font-family: #{$light-tab-primary-default-navtext-font-family};
  --tab-primary-default-navtext-font-weight: #{map-get($font-weight-map, $light-tab-primary-default-navtext-font-weight)};
  --tab-primary-default-navtext-font-size: #{$light-tab-primary-default-navtext-font-size};
  --tab-primary-default-line-color: #{$light-tab-primary-default-line-color};
  --tab-withtoken-hover-tokenbackground: #{$light-tab-withtoken-hover-tokenbackground};
  --tab-primary-active-line-color: #{$light-tab-primary-active-line-color};
  --tab-primary-active-text: #{$light-tab-primary-active-text};
  --tab-primary-hover-line-color: #{$light-tab-primary-hover-line-color};
  --tab-primary-hover-text: #{$light-tab-primary-hover-text};
  --tab-primary-default-navtext-line-height: #{$light-tab-primary-default-navtext-line-height};
  --tab-primary-hover-line-style: #{$light-tab-primary-hover-line-style};
  --tab-primary-active-line-style: #{$light-tab-primary-active-line-style};
  --tab-primary-default-line-style: #{$light-tab-primary-default-line-style};
  --tab-withtoken-default-text: #{$light-tab-withtoken-default-text};
  --tab-withtoken-default-tokenbackground: #{$light-tab-withtoken-default-tokenbackground};
  --tab-withtoken-hover-tokentext: #{$light-tab-withtoken-hover-tokentext};
  --tab-withtoken-hover-tokenbackground: #{$light-tab-withtoken-hover-tokenbackground};
  --tab-withtoken-active-tokenbackground: #{$light-tab-withtoken-active-tokenbackground};
  --tab-withtoken-active-tokentext: #{$light-tab-withtoken-active-tokentext};
  --tab-secondary-default-text: #{$light-tab-secondary-default-text};
  --tab-secondary-default-navtext-font-size: #{$light-tab-secondary-default-navtext-font-size};
  --tab-secondary-default-navtext-line-height: #{$light-tab-secondary-default-navtext-line-height};
  --tab-secondary-default-navtext-font-weight: #{map-get($font-weight-map, $light-tab-secondary-default-navtext-font-weight)};
  --tab-secondary-active-background: #{$light-tab-secondary-active-background};
  --tab-secondary-active-text: #{$light-tab-secondary-active-text};
  --tab-secondary-hover-text: #{$light-tab-secondary-hover-text};
  //formula
  --formulainput-valid-validationtext-font-size: #{$light-formulainput-valid-validationtext-font-size};
  --formulainput-valid-validation: #{$light-formulainput-valid-validation};
  --formulainput-valid-validationtext-font-family: #{$light-formulainput-valid-validationtext-font-family};
  --formulainput-valid-validationtext-font-weight: #{map-get($font-weight-map, $light-formulainput-valid-validationtext-font-weight)};
  --formulainput-invalid-validationtext-font-weight: #{map-get($font-weight-map, $light-formulainput-invalid-validationtext-font-weight)};
  --formulainput-invalid-validationtext-font-size: #{$light-formulainput-invalid-validationtext-font-size};
  --formulainput-invalid-validation: #{$light-formulainput-invalid-validation};
  --formulainput-invalid-validationtext-font-family: #{$light-formulainput-invalid-validationtext-font-family};
  --formulainput-validate-validationtext-font-weight: #{map-get($font-weight-map, $light-formulainput-validate-validationtext-font-weight)};
  --formulainput-validate-validationtext-font-family: #{$light-formulainput-validate-validationtext-font-family};
  --formulainput-validate-validationtext-font-size: #{$light-formulainput-validate-validationtext-font-size};
  --formulainput-validate-validation: #{$light-formulainput-validate-validation};
  --formulainput-validate-label: #{$light-formulainput-validate-label};
  --formulasymbol-default-icon: #{$light-formulasymbol-default-icon};
  --formulasymbol-default-border-color: #{$light-formulasymbol-default-border-color};
  --formulasymbol-default-border-width: #{$light-formulasymbol-default-border-width};
  --formulasymbol-default-border-style: #{$light-formulasymbol-default-border-style};
  --formulasymbol-hover-fill: #{$light-formulasymbol-hover-fill};
  --formulasymbol-hover-icon: #{$light-formulasymbol-hover-icon};
  --formulasymbol-disabled-icon: #{$light-formulasymbol-disabled-icon};
  --formulasymbol-disabled-border-color: #{$light-formulasymbol-disabled-border-color};
  --formulasymbol-disabled-border-style: #{$light-formulasymbol-disabled-border-style};
  --formulasymbol-default-fill: #{$light-formulasymbol-default-fill};
  --formulasymbol-default-cornerradius: #{$light-formulasymbol-default-cornerradius};
  --formulasymbol-default-height: #{$light-formulasymbol-default-height};
  --formulasymbol-default-width: #{$light-formulasymbol-default-width};
  //alert
  --alert-primary-bg: #{$light-alert-default-primary-background};
  --alert-primary-text: #{$light-alert-default-primary-text};
  --alert-primary-cornerradius: #{$light-alert-default-primary-cornerradius};
  --alert-primary-body-font-family: #{$light-alert-default-primary-bodytext-font-family};
  --alert-primary-body-font-weight: #{map-get($font-weight-map, $light-alert-default-primary-bodytext-font-weight)};
  --alert-primary-body-line-height: #{$light-alert-default-primary-bodytext-line-height};
  --alert-primary-body-font-size: #{$light-alert-default-primary-bodytext-font-size};
  --alert-primary-body-letter-spacing: #{$light-alert-default-primary-bodytext-letter-spacing};
  --alert-primary-body-text-decoration: #{$light-alert-default-primary-bodytext-text-decoration};
  --alert-primary-body-text-case: #{$light-alert-default-primary-bodytext-text-case};
  --alert-primary-height: #{$light-alert-default-primary-height};
  --alert-secondary-bg: #{$light-alert-default-secondary-background};
  --alert-secondary-text: #{$light-alert-default-secondary-text};
  --alert-secondary-cornerradius: #{$light-alert-default-secondary-cornerradius};
  --alert-secondary-body-font-family: #{$light-alert-default-secondary-bodytext-font-family};
  --alert-secondary-body-font-weight: #{map-get($font-weight-map, $light-alert-default-secondary-bodytext-font-weight)};
  --alert-secondary-body-line-height: #{$light-alert-default-secondary-bodytext-line-height};
  --alert-secondary-body-font-size: #{$light-alert-default-secondary-bodytext-font-size};
  --alert-secondary-body-letter-spacing: #{$light-alert-default-secondary-bodytext-letter-spacing};
  --alert-secondary-body-text-decoration: #{$light-alert-default-secondary-bodytext-text-decoration};
  --alert-secondary-body-text-case: #{$light-alert-default-secondary-bodytext-text-case};
  --alert-secondary-height: #{$light-alert-default-secondary-height};
  --alert-success-bg: #{$light-alert-default-success-background};
  --alert-success-text: #{$light-alert-default-success-text};
  --alert-success-cornerradius: #{$light-alert-default-success-cornerradius};
  --alert-success-body-font-family: #{$light-alert-default-success-bodytext-font-family};
  --alert-success-body-font-weight: #{map-get($font-weight-map, $light-alert-default-success-bodytext-font-weight)};
  --alert-success-body-line-height: #{$light-alert-default-success-bodytext-line-height};
  --alert-success-body-font-size: #{$light-alert-default-success-bodytext-font-size};
  --alert-success-body-letter-spacing: #{$light-alert-default-success-bodytext-letter-spacing};
  --alert-success-body-text-decoration: #{$light-alert-default-success-bodytext-text-decoration};
  --alert-success-body-text-case: #{$light-alert-default-success-bodytext-text-case};
  --alert-success-height: #{$light-alert-default-success-height};
  --alert-danger-bg: #{$light-alert-default-danger-background};
  --alert-danger-text: #{$light-alert-default-danger-text};
  --alert-danger-cornerradius: #{$light-alert-default-danger-cornerradius};
  --alert-danger-body-font-family: #{$light-alert-default-danger-bodytext-font-family};
  --alert-danger-body-font-weight: #{map-get($font-weight-map, $light-alert-default-danger-bodytext-font-weight)};
  --alert-danger-body-line-height: #{$light-alert-default-danger-bodytext-line-height};
  --alert-danger-body-font-size: #{$light-alert-default-danger-bodytext-font-size};
  --alert-danger-body-letter-spacing: #{$light-alert-default-danger-bodytext-letter-spacing};
  --alert-danger-body-text-decoration: #{$light-alert-default-danger-bodytext-text-decoration};
  --alert-danger-body-text-case: #{$light-alert-default-danger-bodytext-text-case};
  --alert-danger-height: #{$light-alert-default-danger-height};
  --alert-warning-bg: #{$light-alert-default-warning-background};
  --alert-warning-text: #{$light-alert-default-warning-text};
  --alert-warning-cornerradius: #{$light-alert-default-warning-cornerradius};
  --alert-warning-body-font-family: #{$light-alert-default-warning-bodytext-font-family};
  --alert-warning-body-font-weight: #{map-get($font-weight-map, $light-alert-default-warning-bodytext-font-weight)};
  --alert-warning-body-line-height: #{$light-alert-default-warning-bodytext-line-height};
  --alert-warning-body-font-size: #{$light-alert-default-warning-bodytext-font-size};
  --alert-warning-body-letter-spacing: #{$light-alert-default-warning-bodytext-letter-spacing};
  --alert-warning-body-text-decoration: #{$light-alert-default-warning-bodytext-text-decoration};
  --alert-warning-body-text-case: #{$light-alert-default-warning-bodytext-text-case};
  --alert-warning-height: #{$light-alert-default-warning-height};
  --alert-expand-success-bg: #{$light-alert-expand-success-background};
  --alert-expand-success-heading: #{$light-alert-expand-success-heading};
  --alert-expand-success-body: #{$light-alert-expand-success-bodytext};
  --alert-expand-success-icon: #{$light-alert-expand-success-alerticon};
  --alert-expand-success-cornerradius: #{$light-alert-expand-success-cornerradius};
  --alert-expand-success-shadow-y: #{$light-alert-expand-success-shadow-y};
  --alert-expand-success-shadow-type: #{$light-alert-expand-success-shadow-type};
  --alert-expand-success-shadow-blur: #{$light-alert-expand-success-shadow-blur};
  --alert-expand-success-border-color: #{$light-alert-expand-success-border-color};
  --alert-expand-success-border-width: #{$light-alert-expand-success-border-width};
  --alert-expand-success-border-style: #{$light-alert-expand-success-border-style};
  --alert-expand-success-heading-font-family: #{$light-alert-expand-success-headingtext-font-family};
  --alert-expand-success-subtext-font-weight: #{map-get($font-weight-map, $light-alert-expand-success-subtext-font-weight)};
  --alert-expand-danger-bg: #{$light-alert-expand-danger-background};
  --alert-expand-danger-heading: #{$light-alert-expand-danger-heading};
  --alert-expand-danger-body: #{$light-alert-expand-danger-bodytext};
  --alert-expand-danger-icon: #{$light-alert-expand-danger-alerticon};
  --alert-expand-danger-close-icon: #{$light-alert-expand-danger-closeicon};
  --alert-expand-danger-cornerradius: #{$light-alert-expand-danger-cornerradius};
  --alert-expand-danger-border-color: #{$light-alert-expand-danger-border-color};
  --alert-expand-danger-border-width: #{$light-alert-expand-danger-border-width};
  --alert-expand-danger-border-style: #{$light-alert-expand-danger-border-style};
  --alert-expand-danger-shadow-color: #{$light-alert-expand-danger-shadow-color};
  --alert-expand-danger-shadow-type: #{$light-alert-expand-danger-shadow-type};
  --alert-expand-danger-shadow-y: #{$light-alert-expand-danger-shadow-y};
  --alert-expand-danger-shadow-blur: #{$light-alert-expand-danger-shadow-blur};
  --alert-expand-danger-heading-font-family: #{$light-alert-expand-danger-headingtext-font-family};
  --alert-expand-danger-subtext-font-weight: #{map-get($font-weight-map, $light-alert-expand-danger-subtext-font-weight)};
  --alert-expand-warning-bg: #{$light-alert-expand-warning-background};
  --alert-expand-warning-heading: #{$light-alert-expand-warning-heading};
  --alert-expand-warning-body: #{$light-alert-expand-warning-bodytext};
  --alert-expand-warning-icon: #{$light-alert-expand-warning-alerticon};
  --alert-expand-warning-close-icon: #{$light-alert-expand-warning-closeicon};
  --alert-expand-warning-cornerradius: #{$light-alert-expand-warning-cornerradius};
  --alert-expand-warning-border-color: #{$light-alert-expand-warning-border-color};
  --alert-expand-warning-border-width: #{$light-alert-expand-warning-border-width};
  --alert-expand-warning-border-style: #{$light-alert-expand-warning-border-style};
  --alert-expand-warning-shadow-color: #{$light-alert-expand-warning-shadow-color};
  --alert-expand-warning-shadow-type: #{$light-alert-expand-warning-shadow-type};
  --alert-expand-warning-shadow-y: #{$light-alert-expand-warning-shadow-y};
  --alert-expand-warning-shadow-blur: #{$light-alert-expand-warning-shadow-blur};
  --alert-expand-warning-heading-font-family: #{$light-alert-expand-warning-headingtext-font-family};
  --alert-expand-warning-subtext-font-weight: #{map-get($font-weight-map, $light-alert-expand-warning-subtext-font-weight)};
  //input 

  --input-background:#{$body-white};
  --input-font-weight: #{$input-font-weight};
  --input-placholder-color:#{$input-color};
  --input-border-style:#{$light-input-default-border-style};
  --input-border-color:#{$light-input-default-border-color};
  --input-default-placeholder-line-height:#{$light-input-default-placeholder-line-height};
  --input-color:#{$light-input-default-placdholder};
  --input-border-radius:#{$light-input-default-cornerradius};
  --input-border-color:#{$light-input-default-border-color};
  --input-font-size:#{$light-input-default-placeholder-font-size};
  --input-withlabel-label: #{$light-input-withlabel-label};
  --input-disabled:#{$light-input-disabled-background};
  --input-disabled-border:#{$light-input-disabled-border-color};
  --input-hover-border:#{$light-input-hover-border-color};
  --input-focus-border:#{$light-input-focus-border-color};
  --input-focus-placeholder:#{$light-input-focus-placeholder};
  --input-placeholder-color:#{$light-input-default-placdholder};
  --input-default-placeholder-font-family:#{$light-input-default-placeholder-font-family};
  --input-default-placeholder-font-weight:#{$light-input-default-placeholder-font-weight};
  --input-default-placeholder-font-size:#{$light-input-default-placeholder-font-size};
  --input-labelinput-label-font-weight:#{map-get($font-weight-map, $light-input-labelinput-label-font-weight)};
  --input-labelinput-label-font-family:#{$light-input-labelinput-label-font-family};
  --input-labelinput-label-font-size:#{$light-input-labelinput-label-font-size};
  --input-disabled-placeholder:#{$light-input-disabled-placeholder};
  //toggle
  --toggle-default-boxborder-color: #{$light-toggle-default-boxborder-color};
  --toggle-default-boxborder-width: #{$light-toggle-default-boxborder-width};
  --toggle-default-boxborder-style: #{$light-toggle-default-boxborder-style};
  --toggle-disabled-boxfill:#{$light-toggle-disabled-boxfill};
  --toggle-disabled-circlefill:#{$light-toggle-disabled-circlefill};
  --toggle-disabled-boxborder-color:#{$light-toggle-disabled-boxborder-color};
  --toggle-focused-color :#{$light-toggle-focused-boxfill};
  --toggle-default-font-size:#{$light-checkbox-focused-textstyle-font-size};
  --toggle-default-font-family:#{$light-checkbox-focused-textstyle-font-family};
  //dropdown
  /* Light Mode Variables */
  --dropdown-input-text: #{$light-dropdown-default-input-text};
  --dropdown-input-radius: #{$light-dropdown-default-input-radius};
  --dropdown-input-background: #{$light-dropdown-default-input-background};
  --dropdown-input-border-style: #{$light-dropdown-default-input-border-style};
  --dropdown-input-border-color: #{$light-dropdown-default-input-border-color};
  --dropdown-input-font-family: #{$light-dropdown-default-input-textstyle-font-family};
  --dropdown-input-font-weight: #{map-get($font-weight-map, $light-dropdown-default-input-textstyle-font-weight)};
  --dropdown-input-font-size: #{$light-dropdown-default-input-textstyle-font-size};
  --dropdown-menu-background:#{$light-dropdown-default-dropdown-background};
  --dropdown-dropdown-text-font-family: #{$light-dropdown-default-dropdown-textstyle-font-family};
  --dropdown-dropdown-text-font-weight: #{map-get($font-weight-map, $light-dropdown-default-dropdown-textstyle-font-weight)};
  --dropdown-dropdown-text-font-size: #{$light-dropdown-default-dropdown-textstyle-font-size};
  --dropdown-dropdown-border-color: #{$light-dropdown-default-dropdown-border-color};
  --dropdown-dropdown-border-width: #{$light-dropdown-default-dropdown-border-width};
  --dropdown-dropdown-border-style: #{$light-dropdown-default-dropdown-border-style};
  --dropdown-dropdown-radius: #{$light-dropdown-default-dropdown-radius};
  --dropdown-hover-fill: #{$light-dropdown-hover-dropdown-hoverfill};
  --dropdown-hover-text: #{$light-dropdown-hover-dropdown-hovertext};
  --dropdown-active-input-text: #{$light-dropdown-active-dropdown-activetext};
  --dropdown-active-dropdown-text: #{$light-dropdown-active-dropdown-activetext};
  --dropdown-active-checkbox-fill: #{$light-dropdown-activewithcheckbox-dropdown-checkbox-fill};
  --dropdown-active-background:#{$light-dropdown-withbadges-dropdown-badges-activenumber};
  --dropdown-withbadges-font-size:#{$light-dropdown-withbadges-dropdown-badges-numberstyle-font-size};
  --dropdown-withbadges-font-weight:#{$light-dropdown-withbadges-dropdown-badges-numberstyle-font-weight};
  --dropdown-withbadges-line-height:#{$light-dropdown-withbadges-dropdown-badges-numberstyle-line-height};
  --dropdown-withbadges-color:#{$light-dropdown-withbadges-dropdown-badges-number};
  --dropdown-withbadges-border-radius:#{$light-dropdown-withbadges-badges-radius};
  --dropdown-withbadges-background:#{$light-dropdown-withbadges-dropdown-badges-background};
  --dropdown-radio-text:#{$light-dropdown-activewithradiobutton-dropdown-radio-innercircle};
  --dropdown-radio-border-style:#{$light-dropdown-activewithradiobutton-dropdown-radio-border-style};
  --dropdown-radio-border-color:#{$light-dropdown-activewithradiobutton-dropdown-radio-fill};
  //checkbox
  --checkbox-default-boxborder-color: #{$light-checkbox-default-boxborder-color};
  --checkbox-default-boxborder-style: #{$light-checkbox-default-boxborder-style};

}

.dark-theme {
    --select-bg: #{$dark-select-bg};
  --select-color: #{$dark-select-color};
  --body-bg: #{$body-black};
  --body-text: #{$body-white};
  --body-font-family: #{$body-text-body-default-font-family};
  //table
  --table-body-background: #{$dark-table-default-body-background};
  --table-body-text:#{$dark-table-default-body-text};
  --table-link-color:#{$dark-table-default-body-link};
  --table-body-font-size:#{$dark-table-default-body-bodytext-font-size};
  --table-body-text-case: #{$dark-table-default-body-bodytext-text-case};
  --table-body-letter-spacing:#{$dark-table-default-body-bodytext-letter-spacing};
  --table-body-text-decoration:#{$dark-table-default-body-bodytext-text-decoration};
  --table-body-line-height:#{$dark-table-default-body-bodytext-line-height};
  --table-body-font-weight:#{map-get($font-weight-map, $dark-table-default-body-bodytext-font-weight)};
  --table-header-text:#{$dark-table-default-header-text};
  --table-header-font-size:#{$dark-table-default-header-headertext-font-size};
  --table-header-font-weight:#{map-get($font-weight-map, $dark-table-default-header-headertext-font-weight)};
  --table-font-family: #{$dark-table-default-header-headertext-font-family};
  --table-border-radius:#{$dark-table-default-cornerradius};
  --table-header-line-height:#{$dark-table-default-header-headertext-line-height};
  --table-header-text-decoration:#{$dark-table-default-header-headertext-text-decoration};
  --table-header-letter-spacing:#{$dark-table-default-header-headertext-letter-spacing};
  --table-checkbox-border:#{$dark-table-multiselect-body-checkbox-uncheck-color};
  --table-checkbox-border-style:#{$dark-table-multiselect-body-checkbox-uncheck-style};
   --table-background-checkbox:#{$dark-table-multiselect-body-checkbox-activefill};
  --table-checkox-height:#{$dark-table-multiselect-body-checkbox-height};
  --table-checkbox-width:#{$dark-table-multiselect-body-checkbox-width};
  //pagination
  --pagination-small-bg: #{$dark-pagination-small-background};
  --pagination-small-color: #{$dark-pagination-small-defaulttext};
  --pagination-small-active-bg: #{$dark-pagination-small-activefill};
  --pagination-small-active-color: #{$dark-pagination-small-activetext};
  --pagination-medium-bg: #{$dark-pagination-medium-background};
  --pagination-medium-color: #{$dark-pagination-medium-defaulttext};
  --pagination-medium-active-bg: #{$dark-pagination-medium-activefill};
  --pagination-medium-active-color: #{$dark-pagination-medium-activetext};
  --pagination-large-bg: #{$dark-pagination-large-background};
  --pagination-large-color: #{$dark-pagination-large-defaulttext};
  --pagination-large-active-bg: #{$dark-pagination-large-activefill};
  --pagination-large-active-color: #{$dark-pagination-large-activetext};
  //search
  --search-default-text: #{$dark-search-default-text};
  --search-default-icon: #{$dark-search-default-icon};
  --search-default-font-family: #{$dark-search-default-searchtext-font-family};
  --search-default-line-color: #{$dark-search-default-line-color};
  --search-default-line-width: #{$dark-search-default-line-width};
  --search-default-line-style: #{$dark-search-default-line-style};
  --search-default-font-weight: #{map-get($font-weight-map, $dark-search-default-searchtext-font-weight)};
  --search-default-width: #{$dark-search-default-width};
  --search-hover-icon: #{$dark-search-hover-icon};
  --search-hover-text: #{$dark-search-hover-text};
  --search-hover-line-color: #{$dark-search-hover-line-color};
  --search-default-line-height: #{$dark-search-default-searchtext-line-height};
  --search-default-height: #{$dark-search-default-height};
  --search-default-font-size: #{$dark-search-default-searchtext-font-size};
  --search-default-text-decoration: #{$dark-search-default-searchtext-text-decoration};
  --search-default-text-case: #{$dark-search-default-searchtext-text-case};
  //accordion
  --accordion-default-heading: #{$dark-accordian-default-heading};
  --accordion-default-icon: #{$dark-accordian-default-icon};
  --accordion-default-background: #{$dark-accordian-default-background};
  --accordion-default-line-color: #{$dark-accordian-default-line-color};
  --accordion-default-line-width: #{$dark-accordian-default-line-width};
  --accordion-default-line-style: #{$dark-accordian-default-line-style};
  --accordion-default-header-font-family: #{$dark-accordian-default-header-font-family};
  --accordion-default-header-font-weight: #{map-get($font-weight-map, $dark-accordian-default-header-font-weight)};
  --accordion-default-header-line-height: #{$dark-accordian-default-header-line-height};
  --accordion-default-header-font-size: #{$dark-accordian-default-header-font-size};
  --accordion-default-header-letter-spacing: #{$dark-accordian-default-header-letter-spacing};
  --accordion-default-header-text-case: #{$dark-accordian-default-header-text-case};
  --accordion-default-header-text-decoration: #{$dark-accordian-default-header-text-decoration};
  --accordion-open-header-decoration: #{$dark-accordian-open-header-text-decoration};
  --accordion-open-heading: #{$dark-accordian-open-heading};
  --accordion-open-icon: #{$dark-accordian-open-icon};
  --accordion-open-background: #{$dark-accordian-open-background};
  --accordion-open-bodytext: #{$dark-accordian-open-bodytext};
  --accordion-open-line-color: #{$dark-accordian-open-line-color};
  --accordion-open-line-width: #{$dark-accordian-open-line-width};
  --accordion-open-line-style: #{$dark-accordian-open-line-style};
  --accordion-open-header-font-family: #{$dark-accordian-open-header-font-family};
  --accordion-open-header-font-weight: #{map-get($font-weight-map, $dark-accordian-open-header-font-weight)};
  --accordion-open-header-line-height: #{$dark-accordian-open-header-line-height};
  --accordion-open-header-font-size: #{$dark-accordian-open-header-font-size};
  --accordion-open-header-letter-spacing: #{$dark-accordian-open-header-letter-spacing};
  --accordion-open-subtext-font-family: #{$dark-accordian-open-subtext-font-family};
  --accordion-open-subtext-font-weight: #{map-get($font-weight-map, $dark-accordian-open-subtext-font-weight)};
  --accordion-open-subtext-line-height: #{$dark-accordian-open-subtext-line-height};
  --accordion-open-subtext-font-size: #{$dark-accordian-open-subtext-font-size};
  --accordion-open-subtext-letter-spacing: #{$dark-accordian-open-subtext-letter-spacing};
  --accordion-open-subtext-text-case: #{$dark-accordian-open-subtext-text-case};
  --accordion-open-subtext-text-decoration: #{$dark-accordian-open-subtext-text-decoration};
  //filter
  --filter-default-background: #{$dark-filter-default-background};
  --filter-default-button-width: #{$dark-filter-default-button-width};
  --filter-active-search-text: #{$dark-filter-active-search-text};
  --filter-active-width: #{$dark-filter-active-width};
  --filter-default-text: #{$dark-filter-default-text};
  --filter-hover-hovertext: #{$dark-filter-hover-hovertext};
  --filter-active-activetext: #{$dark-filter-active-activetext};
  --filter-hover-hoverfill: #{$dark-filter-hover-hoverfill};
  --filter-active-activefill: #{$dark-filter-active-activefill};
  --filter-default-textstyle-font-size: #{$dark-filter-default-textstyle-font-size};
  --filter-default-search-line-style: #{$dark-filter-default-search-line-style};
  --filter-active-scrollheight: #{$dark-filter-active-scrollheight};
  --filter-default-textstyle-font-family: #{$dark-filter-default-textstyle-font-family};
  --filter-default-search-line-color: #{$dark-filter-default-search-line-color};
  //tooltip
  --tooltip-bg: #{$dark-tooltip-default-top-background};
  --tooltip-opacity:#{$dark-tooltip-default-top-bodytext-text-decoration};
  //modal
  --modal-content-bg: #{$dark-popup-popup-fill};
  //tab
  --tab-primary-default-text: #{$dark-tab-primary-default-text};
  --tab-primary-default-navtext-font-family: #{$dark-tab-primary-default-navtext-font-family};
  --tab-primary-default-navtext-font-weight: #{map-get($font-weight-map, $dark-tab-primary-default-navtext-font-weight)};
  --tab-primary-default-navtext-font-size: #{$dark-tab-primary-default-navtext-font-size};
  --tab-primary-default-line-color: #{$dark-tab-primary-default-line-color};
  --tab-withtoken-hover-tokenbackground: #{$dark-tab-withtoken-hover-tokenbackground};
  --tab-primary-active-line-color: #{$dark-tab-primary-active-line-color};
  --tab-primary-active-text: #{$dark-tab-primary-active-text};
  --tab-primary-hover-line-color: #{$dark-tab-primary-hover-line-color};
  --tab-primary-hover-text: #{$dark-tab-primary-hover-text};
  --tab-primary-default-navtext-line-height: #{$dark-tab-primary-default-navtext-line-height};
  --tab-primary-hover-line-style: #{$dark-tab-primary-hover-line-style};
  --tab-primary-active-line-style: #{$dark-tab-primary-active-line-style};
  --tab-primary-default-line-style: #{$dark-tab-primary-default-line-style};
  --tab-withtoken-default-text: #{$dark-tab-withtoken-default-text};
  --tab-withtoken-default-tokenbackground: #{$dark-tab-withtoken-default-tokenbackground};
  --tab-withtoken-hover-tokentext: #{$dark-tab-withtoken-hover-tokentext};
  --tab-withtoken-hover-tokenbackground: #{$dark-tab-withtoken-hover-tokenbackground};
  --tab-withtoken-active-tokenbackground: #{$dark-tab-withtoken-active-tokenbackground};
  --tab-withtoken-active-tokentext: #{$dark-tab-withtoken-active-tokentext};
  --tab-secondary-default-text: #{$dark-tab-secondary-default-text};
  --tab-secondary-default-navtext-font-size: #{$dark-tab-secondary-default-navtext-font-size};
  --tab-secondary-default-navtext-line-height: #{$dark-tab-secondary-default-navtext-line-height};
  --tab-secondary-default-navtext-font-weight: #{map-get($font-weight-map, $dark-tab-secondary-default-navtext-font-weight)};
  --tab-secondary-active-background: #{$dark-tab-secondary-active-background};
  --tab-secondary-active-text: #{$dark-tab-secondary-active-text};
  --tab-secondary-hover-text: #{$dark-tab-secondary-hover-text};
  //formula
  --formulainput-valid-validationtext-font-size: #{$dark-formulainput-valid-validationtext-font-size};
  --formulainput-valid-validation: #{$dark-formulainput-valid-validation};
  --formulainput-valid-validationtext-font-family: #{$dark-formulainput-valid-validationtext-font-family};
  --formulainput-valid-validationtext-font-weight: #{map-get($font-weight-map, $dark-formulainput-valid-validationtext-font-weight)};
  --formulainput-invalid-validationtext-font-weight: #{map-get($font-weight-map, $dark-formulainput-invalid-validationtext-font-weight)};
  --formulainput-invalid-validationtext-font-size: #{$dark-formulainput-invalid-validationtext-font-size};
  --formulainput-invalid-validation: #{$dark-formulainput-invalid-validation};
  --formulainput-invalid-validationtext-font-family: #{$dark-formulainput-invalid-validationtext-font-family};
  --formulainput-validate-validationtext-font-weight: #{map-get($font-weight-map, $dark-formulainput-validate-validationtext-font-weight)};
  --formulainput-validate-validationtext-font-family: #{$dark-formulainput-validate-validationtext-font-family};
  --formulainput-validate-validationtext-font-size: #{$dark-formulainput-validate-validationtext-font-size};
  --formulainput-validate-validation: #{$dark-formulainput-validate-validation};
  --formulainput-validate-label: #{$dark-formulainput-validate-label};
  --formulasymbol-default-icon: #{$dark-formulasymbol-default-icon};
  --formulasymbol-default-border-color: #{$dark-formulasymbol-default-border-color};
  --formulasymbol-default-border-width: #{$dark-formulasymbol-default-border-width};
  --formulasymbol-default-border-style: #{$dark-formulasymbol-default-border-style};
  --formulasymbol-hover-fill: #{$dark-formulasymbol-hover-fill};
  --formulasymbol-hover-icon: #{$dark-formulasymbol-hover-icon};
  --formulasymbol-disabled-icon: #{$dark-formulasymbol-disabled-icon};
  --formulasymbol-disabled-border-color: #{$dark-formulasymbol-disabled-border-color};
  --formulasymbol-disabled-border-style: #{$dark-formulasymbol-disabled-border-style};
  --formulasymbol-default-fill: #{$dark-formulasymbol-default-fill};
  --formulasymbol-default-cornerradius: #{$dark-formulasymbol-default-cornerradius};
  --formulasymbol-default-height: #{$dark-formulasymbol-default-height};
  --formulasymbol-default-width: #{$dark-formulasymbol-default-width};
  //alert
  --alert-primary-bg: #{$light-alert-default-primary-background};
  --alert-primary-text: #{$light-alert-default-primary-text};
  --alert-primary-cornerradius: #{$light-alert-default-primary-cornerradius};
  --alert-primary-body-font-family: #{$light-alert-default-primary-bodytext-font-family};
  --alert-primary-body-font-weight: #{map-get($font-weight-map, $light-alert-default-primary-bodytext-font-weight)};
  --alert-primary-body-line-height: #{$light-alert-default-primary-bodytext-line-height};
  --alert-primary-body-font-size: #{$light-alert-default-primary-bodytext-font-size};
  --alert-primary-body-letter-spacing: #{$light-alert-default-primary-bodytext-letter-spacing};
  --alert-primary-body-text-decoration: #{$light-alert-default-primary-bodytext-text-decoration};
  --alert-primary-body-text-case: #{$light-alert-default-primary-bodytext-text-case};
  --alert-primary-height: #{$light-alert-default-primary-height};
  --alert-secondary-bg: #{$dark-alert-default-secondary-background};
  --alert-secondary-text: #{$dark-alert-default-secondary-text};
  --alert-secondary-cornerradius: #{$dark-alert-default-secondary-cornerradius};
  --alert-secondary-body-font-family: #{$dark-alert-default-secondary-bodytext-font-family};
  --alert-secondary-body-font-weight: #{map-get($font-weight-map, $dark-alert-default-secondary-bodytext-font-weight)};
  --alert-secondary-body-line-height: #{$dark-alert-default-secondary-bodytext-line-height};
  --alert-secondary-body-font-size: #{$dark-alert-default-secondary-bodytext-font-size};
  --alert-secondary-body-letter-spacing: #{$dark-alert-default-secondary-bodytext-letter-spacing};
  --alert-secondary-body-text-decoration: #{$dark-alert-default-secondary-bodytext-text-decoration};
  --alert-secondary-body-text-case: #{$dark-alert-default-secondary-bodytext-text-case};
  --alert-secondary-height: #{$dark-alert-default-secondary-height};
  --alert-success-bg: #{$dark-alert-default-success-background};
  --alert-success-text: #{$dark-alert-default-success-text};
  --alert-success-cornerradius: #{$dark-alert-default-success-cornerradius};
  --alert-success-body-font-family: #{$dark-alert-default-success-bodytext-font-family};
  --alert-success-body-font-weight: #{map-get($font-weight-map, $dark-alert-default-success-bodytext-font-weight)};
  --alert-success-body-line-height: #{$dark-alert-default-success-bodytext-line-height};
  --alert-success-body-font-size: #{$dark-alert-default-success-bodytext-font-size};
  --alert-success-body-letter-spacing: #{$dark-alert-default-success-bodytext-letter-spacing};
  --alert-success-body-text-decoration: #{$dark-alert-default-success-bodytext-text-decoration};
  --alert-success-body-text-case: #{$dark-alert-default-success-bodytext-text-case};
  --alert-success-height: #{$dark-alert-default-success-height};
  --alert-danger-bg: #{$dark-alert-default-danger-background};
  --alert-danger-text: #{$dark-alert-default-danger-text};
  --alert-danger-cornerradius: #{$dark-alert-default-danger-cornerradius};
  --alert-danger-body-font-family: #{$dark-alert-default-danger-bodytext-font-family};
  --alert-danger-body-font-weight: #{map-get($font-weight-map, $dark-alert-default-danger-bodytext-font-weight)};
  --alert-danger-body-line-height: #{$dark-alert-default-danger-bodytext-line-height};
  --alert-danger-body-font-size: #{$dark-alert-default-danger-bodytext-font-size};
  --alert-danger-body-letter-spacing: #{$dark-alert-default-danger-bodytext-letter-spacing};
  --alert-danger-body-text-decoration: #{$dark-alert-default-danger-bodytext-text-decoration};
  --alert-danger-body-text-case: #{$dark-alert-default-danger-bodytext-text-case};
  --alert-danger-height: #{$dark-alert-default-danger-height};
  --alert-warning-bg: #{$dark-alert-default-warning-background};
  --alert-warning-text: #{$dark-alert-default-warning-text};
  --alert-warning-cornerradius: #{$dark-alert-default-warning-cornerradius};
  --alert-warning-body-font-family: #{$dark-alert-default-warning-bodytext-font-family};
  --alert-warning-body-font-weight: #{map-get($font-weight-map, $dark-alert-default-warning-bodytext-font-weight)};
  --alert-warning-body-line-height: #{$dark-alert-default-warning-bodytext-line-height};
  --alert-warning-body-font-size: #{$dark-alert-default-warning-bodytext-font-size};
  --alert-warning-body-letter-spacing: #{$dark-alert-default-warning-bodytext-letter-spacing};
  --alert-warning-body-text-decoration: #{$dark-alert-default-warning-bodytext-text-decoration};
  --alert-warning-body-text-case: #{$dark-alert-default-warning-bodytext-text-case};
  --alert-warning-height: #{$dark-alert-default-warning-height};
  --alert-expand-success-bg: #{$dark-alert-expand-success-background};
  --alert-expand-success-heading: #{$dark-alert-expand-success-heading};
  --alert-expand-success-body: #{$dark-alert-expand-success-bodytext};
  --alert-expand-success-icon: #{$dark-alert-expand-success-alerticon};
  --alert-expand-success-cornerradius: #{$dark-alert-expand-success-cornerradius};
  --alert-expand-success-shadow-y: #{$dark-alert-expand-success-shadow-y};
  --alert-expand-success-shadow-type: #{$dark-alert-expand-success-shadow-type};
  --alert-expand-success-shadow-blur: #{$dark-alert-expand-success-shadow-blur};
  --alert-expand-success-border-color: #{$dark-alert-expand-success-border-color};
  --alert-expand-success-border-width: #{$dark-alert-expand-success-border-width};
  --alert-expand-success-border-style: #{$dark-alert-expand-success-border-style};
  --alert-expand-success-heading-font-family: #{$dark-alert-expand-success-headingtext-font-family};
  --alert-expand-success-subtext-font-weight: #{map-get($font-weight-map, $dark-alert-expand-success-subtext-font-weight)};
  --alert-expand-danger-bg: #{$dark-alert-expand-danger-background};
  --alert-expand-danger-heading: #{$dark-alert-expand-danger-heading};
  --alert-expand-danger-body: #{$dark-alert-expand-danger-bodytext};
  --alert-expand-danger-icon: #{$dark-alert-expand-danger-alerticon};
  --alert-expand-danger-close-icon: #{$dark-alert-expand-danger-closeicon};
  --alert-expand-danger-cornerradius: #{$dark-alert-expand-danger-cornerradius};
  --alert-expand-danger-border-color: #{$dark-alert-expand-danger-border-color};
  --alert-expand-danger-border-width: #{$dark-alert-expand-danger-border-width};
  --alert-expand-danger-border-style: #{$dark-alert-expand-danger-border-style};
  --alert-expand-danger-shadow-color: #{$dark-alert-expand-danger-shadow-color};
  --alert-expand-danger-shadow-type: #{$dark-alert-expand-danger-shadow-type};
  --alert-expand-danger-shadow-y: #{$dark-alert-expand-danger-shadow-y};
  --alert-expand-danger-shadow-blur: #{$dark-alert-expand-danger-shadow-blur};
  --alert-expand-danger-heading-font-family: #{$dark-alert-expand-danger-headingtext-font-family};
  --alert-expand-danger-subtext-font-weight: #{map-get($font-weight-map, $dark-alert-expand-danger-subtext-font-weight)};
  --alert-expand-warning-bg: #{$dark-alert-expand-warning-background};
  --alert-expand-warning-heading: #{$dark-alert-expand-warning-heading};
  --alert-expand-warning-body: #{$dark-alert-expand-warning-bodytext};
  --alert-expand-warning-icon: #{$dark-alert-expand-warning-alerticon};
  --alert-expand-warning-close-icon: #{$dark-alert-expand-warning-closeicon};
  --alert-expand-warning-cornerradius: #{$dark-alert-expand-warning-cornerradius};
  --alert-expand-warning-border-color: #{$dark-alert-expand-warning-border-color};
  --alert-expand-warning-border-width: #{$dark-alert-expand-warning-border-width};
  --alert-expand-warning-border-style: #{$dark-alert-expand-warning-border-style};
  --alert-expand-warning-shadow-color: #{$dark-alert-expand-warning-shadow-color};
  --alert-expand-warning-shadow-type: #{$dark-alert-expand-warning-shadow-type};
  --alert-expand-warning-shadow-y: #{$dark-alert-expand-warning-shadow-y};
  --alert-expand-warning-shadow-blur: #{$dark-alert-expand-warning-shadow-blur};
  --alert-expand-warning-heading-font-family: #{$dark-alert-expand-warning-headingtext-font-family};
  --alert-expand-warning-subtext-font-weight: #{map-get($font-weight-map, $dark-alert-expand-warning-subtext-font-weight)};
  //input 
  --input-background:#{$body-black};
  --input-font-weight: #{map-get($font-weight-map, $dark-input-default-placeholder-font-weight)};
  --input-placholder-color:#{$dark-input-default-placdholder};
  --input-border-style:#{$dark-input-default-border-style};
  --input-border-color:#{$dark-input-default-border-color};
  --input-default-placeholder-line-height:#{$dark-input-default-placeholder-line-height};
  --input-color:#{$dark-input-default-placdholder};
  --input-border-radius:#{$dark-input-default-cornerradius};
  --input-border-color:#{$dark-input-default-border-color};
  --input-font-size:#{$dark-input-default-placeholder-font-size};
  --input-withlabel-label: #{$dark-input-withlabel-label};
  --input-disabled:#{$dark-input-disabled-background};
  --input-disabled-border:#{$dark-input-disabled-border-color};
  --input-hover-border:#{$dark-input-hover-border-color};
  --input-focus-border:#{$dark-input-focus-border-color};
  --input-focus-placeholder:#{$dark-input-focus-placeholder};
  --input-placeholder-color:#{$dark-input-default-placdholder};
  --input-default-placeholder-font-family:#{$dark-input-default-placeholder-font-family};
  --input-default-placeholder-font-weight:#{$dark-input-default-placeholder-font-weight};
  --input-default-placeholder-font-size:#{$dark-input-default-placeholder-font-size};
  --input-labelinput-label-font-weight:#{map-get($font-weight-map, $dark-input-labelinput-label-font-weight)};
  --input-labelinput-label-font-family:#{$dark-input-labelinput-label-font-family};
  --input-labelinput-label-font-size:#{$dark-input-labelinput-label-font-size};
  --input-disabled-placeholder:#{$dark-input-disabled-placeholder};
  //toggle
  --toggle-default-boxborder-color: #{$dark-toggle-default-boxborder-color};
  --toggle-default-boxborder-width: #{$dark-toggle-default-boxborder-width};
  --toggle-default-boxborder-style: #{$dark-toggle-default-boxborder-style};
  --toggle-disabled-boxfill:#{$dark-toggle-disabled-boxfill};
  --toggle-disabled-circlefill:#{$dark-toggle-disabled-circlefill};
  --toggle-disabled-boxborder-color:#{$dark-toggle-disabled-boxborder-color};
  --toggle-focused-color :#{$dark-toggle-focused-boxfill};
  --toggle-default-font-size:#{$dark-checkbox-focused-textstyle-font-size};
  --toggle-default-font-family:#{$dark-checkbox-focused-textstyle-font-family};
  //dropdown
  --dropdown-input-text: #{$dark-dropdown-default-input-text};
  --dropdown-input-radius: #{$dark-dropdown-default-input-radius};
  --dropdown-input-background: #{$dark-dropdown-default-input-background};
  --dropdown-input-border-style: #{$dark-dropdown-default-input-border-style};
  --dropdown-input-border-color: #{$dark-dropdown-default-input-border-color};
  --dropdown-input-font-family: #{$dark-dropdown-default-input-textstyle-font-family};
  --dropdown-input-font-weight: #{map-get($font-weight-map, $dark-dropdown-default-input-textstyle-font-weight)};
  --dropdown-input-font-size: #{$dark-dropdown-default-input-textstyle-font-size};

  --dropdown-menu-background:#{$dark-dropdown-default-dropdown-background};
  --dropdown-dropdown-text-font-family: #{$dark-dropdown-default-dropdown-textstyle-font-family};
  --dropdown-dropdown-text-font-weight: #{map-get($font-weight-map, $dark-dropdown-default-dropdown-textstyle-font-weight)};
  --dropdown-dropdown-text-font-size: #{$dark-dropdown-default-dropdown-textstyle-font-size};
  --dropdown-dropdown-border-color: #{$dark-dropdown-default-dropdown-border-color};
  --dropdown-dropdown-border-width: #{$dark-dropdown-default-dropdown-border-width};
  --dropdown-dropdown-border-style: #{$dark-dropdown-default-dropdown-border-style};
  --dropdown-dropdown-radius: #{$dark-dropdown-default-dropdown-radius};
  --dropdown-hover-fill: #{$dark-dropdown-hover-dropdown-hoverfill};
  --dropdown-hover-text: #{$dark-dropdown-hover-dropdown-hovertext};
  --dropdown-active-input-text: #{$dark-dropdown-active-dropdown-activetext};
  --dropdown-active-dropdown-text: #{$dark-dropdown-active-dropdown-activetext};
  --dropdown-active-checkbox-fill:#{$dark-dropdown-activewithcheckbox-dropdown-checkbox-fill};
  --dropdown-active-background:#{$dark-dropdown-hover-dropdown-hoverfill};
  --dropdown-withbadges-font-size:#{$dark-dropdown-withbadges-dropdown-badges-numberstyle-font-size};
  --dropdown-withbadges-font-weight:#{$dark-dropdown-withbadges-dropdown-badges-numberstyle-font-weight};
  --dropdown-withbadges-line-height:#{$dark-dropdown-withbadges-dropdown-badges-numberstyle-line-height};
  --dropdown-withbadges-color:#{$dark-dropdown-withbadges-dropdown-badges-number};
  --dropdown-withbadges-border-radius:#{$dark-dropdown-withbadges-badges-radius};
  --dropdown-withbadges-background:#{$dark-dropdown-withbadges-dropdown-badges-background};
  --dropdown-radio-text:#{$dark-dropdown-activewithradiobutton-dropdown-radio-innercircle};
  --dropdown-radio-border-style:#{$dark-dropdown-activewithradiobutton-dropdown-radio-border-style};
  --dropdown-radio-border-color:#{$dark-dropdown-activewithradiobutton-dropdown-radio-fill};
  //checkbox
  --checkbox-default-boxborder-color: #{$dark-checkbox-default-boxborder-color};
  --checkbox-default-boxborder-style: #{$dark-checkbox-default-boxborder-style};
}

$primary: $light-mode-color-primary-color-default;
$h1-font-size: $headings-h1-font-size;
$h1-font-weight: $headings-h1-font-weight;
$h1-line-height: $headings-h1-line-height;
$h2-font-size: $headings-h2-font-size;
$h2-font-weight: $headings-h2-font-weight;
$h2-line-height: $headings-h2-line-height;
$h3-font-size: $headings-h3-font-size;
$h3-font-weight: map-get($font-weight-map, $headings-h3-font-weight);
$h3-line-height: $headings-h3-line-height;
$h4-font-size: $headings-h4-font-size;
$h4-font-weight: map-get($font-weight-map, $headings-h4-font-weight);
$h4-line-height: $headings-h4-line-height;
$h5-font-size: $headings-h5-font-size;
$h5-font-weight: map-get($font-weight-map, $headings-h5-font-weight);
$h5-line-height: $headings-h5-line-height;
$h6-font-size: $headings-h6-font-size;
$h6-font-weight: map-get($font-weight-map, $headings-h6-font-weight);
$h6-line-height: $headings-h5-line-height;
//table
$table-bg: $light-table-default-header-background;
//input
$input-font-size: $light-input-default-placeholder-font-size;